@import "core";



.pt_form_title {
    top: -16px;
    left: 10px;
    font-weight: bold;
    position: absolute;
    margin: 0px;
    padding: 2px 10px 0px 10px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255,0.2); 
    color: rgba(248, 248, 248,0.9);
    background-color: #131b33;
  }

  .pt_expand_icon {
    top: -16px;
    right: 10px;
    font-weight: bold;
    position: absolute;
    margin: 0px;
    padding: 2px 10px 0px 10px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255,0.2); 
    color: rgba(248, 248, 248,0.9);
    background-color: #131b33;
  }
  
body {
    font-family: var(--font-family-primary);
}

.v-data-table .v-data-table__mobile-row {
    min-height: 0px !important;
  }

.v-application {
    .v-main {
        @media (max-width: 1263px) {
            padding-top: 56px !important;
        }
    }
}

.v-navigation-drawer {
    top: 0 !important;
    max-height: initial !important;
    .v-list-item-profile {
        .v-avatar {
            height: 48px !important;
            min-width: 48px !important;
            width: 48px !important;
            border: 2px solid var(--primary-color1);
            padding: 3px;
            border-radius: 100%;
            box-sizing: content-box;
        }
    }
}

.v-navigation-drawer--clipped:not(.v-navigation-drawer--temporary):not(.v-navigation-drawer--is-mobile) {
    z-index: 101;
}

.v-sheet {
    &.v-card {
        border-radius: 10px;
        &:not(.v-sheet--outlined) {
            box-shadow: none;
        }
    }

    &.v-alert {
        margin-top: 0;
    }
    .item-logo {
        font-weight: bold;
        &:before {
            opacity: 0;
        }
    }
}

.genesis-wrapper {
    margin-bottom: 5px;
}

.genesis-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__left {

    }
    &__right {
        text-align: right;
        .genesis-bar {
            &__title-1 {
                font-size: 1.375rem;
            }
        }
    }
    &__progress {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .genesis-bar {
            &__title {
                &-1 {
                    margin-bottom: 0;
                }
            }
        }
        .v-progress-linear {
            width: 74%;
            border-radius: 5px;
            &__content {
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
            }
           
        }
    }
    &__title-1 {
        font-weight: bold;
        font-size: 1.125rem;
        line-height: 1;
        margin-bottom: 0.4em;
    }
    &__title-2 {
        font-size: 0.875rem;
        line-height: 1;
    }

    &__item {
        display: flex;
        flex-direction: column;
        & > span {
            &:first-child:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.v-btn {
    &.styled-primary {
        background-color: transparent;
        border-radius: 5px;
        box-shadow: 0px 2px 15px rgba(22, 33, 67, 0.25);
        &:not(.v-btn--round) {
            height: 40px;
            padding: 0 14px;
        }
        .v-btn__content {
            color: #162143 !important;
            font-size: 16px;
            line-height: 19px;
            font-weight: 400;
            text-transform: initial;
            letter-spacing: 0;
            padding: 7px 5px;
        }

        &.secondary {
            border: 1px solid #20273D !important;
            .v-btn__content {
                color: #fff !important;
            }
        }
    }
}

.trading-vue-chart {
    canvas {
        border-radius: 10px !important;
        overflow: hidden !important;
    }
}

@import "account-block";
@import "dashboard";
